.env
Application/Composer/vendor
Application/Uploads/*
!Application/Uploads/.gitkeep
!Application/Uploads/default-avatar.jpg
Application/Cache/*
!Application/Cache/.gitkeep
backups
telein-backup
Calendar/*
!Calendar/.gitkeep
Invoices/*
!Invoices/.gitkeep
.idea
Storage/Calendar/*
!Storage/Calendar/.gitkeep
Storage/Invoices/*
!Storage/Invoices/.gitkeep
Storage/BusinessCards/*
!Storage/BusinessCards/.gitkeep
Storage/SocialMediaCards/*
!Storage/SocialMediaCards/.gitkeep
Storage/FreelanceDocs/*
!Storage/FreelanceDocs/.gitkeep